@{

}

@model IEnumerable<CMDbAPI.ViewModel.SummaryViewModel>


    <main>
        <h1>Toppfilmer</h1>
        <p>Test</p>
        <p>Test2</p>



        @*<img src="~/img/poster-apocalypsenow.jpg" alt="Vald film" id="top-movie">*@

        <div class="top-list-container">
            @for (int i = 0; i < 1; i++)
            {
                <img src="@Model.FirstOrDefault().Poster" alt="Toppfilm" class="top-movie">
                <h2> Likes - Dislikes </h2>
                <p> @Model.FirstOrDefault().NumberOfLikes - @Model.FirstOrDefault().NumberOfDislikes </p>

                <h2>Ratings</h2>

                <div class="ratings-container">
                    <div class="ratings-flexbox">
                        @foreach (var ratings in Model.FirstOrDefault().Ratings)
                        {
                            <div>
                                <p>@ratings.Source</p>
                                <p>@ratings.Value</p>
                            </div>
                        }
                    </div>
                </div>

            }
        </div>

        






        <div class="rankings-flexbox">

            @foreach (var movie in Model)
            {
                <figure class="rankings-figure">
                    @*<a href="">*@
                    <img src="@movie.Poster" alt="">
                    @*</a>*@
                    <figcaption>@movie.Title</figcaption>
                    <h3>Likes - Dislikes</h3>
                    <p> @movie.NumberOfLikes - @movie.NumberOfDislikes</p>
                </figure>


            }
        </div>





    </main>
