@{

}

@model IEnumerable<CMDbAPI.ViewModel.SummaryViewModel>


    <main>
        <h1>Toppfilm</h1>

        
        <div class="top-movie-container">
            @for (int i = 0; i < 1; i++)
            {
                <img src="@Model.FirstOrDefault().Poster" alt="Toppfilm" class="top-movie">
                <h2> Likes - Dislikes </h2>
                <p> @Model.FirstOrDefault().NumberOfLikes - @Model.FirstOrDefault().NumberOfDislikes </p>

                <h2>Ratings</h2>

                <div class="ratings-container">
                    <div class="ratings-flexbox">
                        @foreach (var ratings in Model.FirstOrDefault().Ratings)
                        {
                            <div>
                                <h3>@ratings.Source</h3>
                                <p>@ratings.Value</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>





        <div class="rankings-flexbox">

            @foreach (var movie in Model)
            {
                <figure class="rankings-figure">
                    <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                        <img src="@movie.Poster" alt="">
                    </a>
                    <figcaption>@movie.Title</figcaption>
                    <h3>Likes - Dislikes</h3>
                    <p> @movie.NumberOfLikes - @movie.NumberOfDislikes</p>
                </figure>


            }
        </div>



    </main>
