@model CMDbAPI.ViewModel.HomeViewModel
@section scripts {
    <script src="~/js/formHandler.js"></script>
}


<main>
    @*<form asp-action="FilterTopList" asp-controller="Home" method="get">*@
    @*<form action="@Url.Action("FilterTopList", "Home")" class="form-flex">*@
        <!--<label for="sortType">Sortera efter:</label>-->
        @*<select value="@Model.SelectedType" name="type" id="type">*@
            <!--<option value="rating" id="rating">Skillnad Like/Dislike</option>
            <option value="popularity" id="popularity">Antal betyg</option>
        </select>
        <label for="show">Visa antal:</label>-->
        @*<select value="@Model.SelectedCount" name="count" id="count">*@
            <!--<option value="5" id="5">5</option>
            <option value="10" id="10">10</option>
            <option value="0" id="0">Alla</option>
        </select>-->
        @*<select value="@Model.SelectedSortOrder" name="sortOrder" id="sortOrder">*@
            <!--<option value="desc" id="desc">Högst först</option>
            <option value="asc" id="asc">Lägst först</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" id="btn" />
    </form>-->


    @*// Lägg onChange här istället för att varje gång jag ändrar knappen i listan*@
    <form asp-action="@Url.Action("Filter", "Home")" class="form-flex">
            <label for="sortType">Sortera efter:</label>

            @Html.DropDownListFor(x => x.SelectedCount, new SelectList(Model.Counts, "Value", "Text"), new { @onchange = "onChange(this.value)" })
            @*<p>@Html.DropDownListFor(x => Model.SelectedCountry, new SelectList(Model.Countries, "Value", "Text"), "Välj land", new { @onchange = "onChange(this.value)" }) </ p >*@
            @*, new { @onchange = "onChange(this.value)" })*@
            @*Lägg till som sista i listan (med tredje komma) för att använd javascriptmetoden*@

        </form>


        <h1 class="movie-title">@Model.TopListMovies.FirstOrDefault().Title</h1>


        <div class="top-movie-container">

            <a href="@Url.Action("Index", "MovieDetails", new { imdbID = Model.TopListMovies.FirstOrDefault().ImdbID })">
                <img src="@Model.TopListMovies.FirstOrDefault().Poster" alt="Toppfilm" class="top-movie">
            </a>
            <h2> Likes - Dislikes </h2>
            <p> @Model.TopListMovies.FirstOrDefault().NumberOfLikes - @Model.TopListMovies.FirstOrDefault().NumberOfDislikes </p>

            <h2 id="ratings-title">Ratings</h2>
            <div class="rating-container-home">
                @foreach (var rating in Model.TopListMovies.FirstOrDefault().Ratings)
                {
                    <div class="ratings-flexbox">
                        <p class="rating-source">@rating.Source</p>
                        <div class="pie">
                            <span class="score-text">@rating.Value</span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="rankings-flexbox">
            @foreach (var movie in Model.TopListMovies)
            {
                <div class="movie-container">
                    <figure class="rankings-figure">

                        <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                            @if (movie.Poster == "N/A")
                            {
                                <img src="~/img/NoPosterAvailable.png" alt="toppfilmer" class="top-movie">
                            }
                            else
                            {
                                <img src="@movie.Poster" alt="toppfilmer" class="top-movie">
                            }
                        </a>
                        <figcaption>@movie.Title</figcaption>
                        <div class="likes-flexbox">
                            <p id="normal-label"><label class="bigger">Likes</label><br /> <span id="likes">@movie.NumberOfLikes</span></p>
                            <p id="normal-label"><label class="bigger">Dislikes</label><br /><span id="dislikes">@movie.NumberOfDislikes</span></p>
                        </div>
                        @if (movie.Plot == "No plot available" || movie.Plot == "N/A")
                        {
                            <p id="plot">
                                <label id="subplot">Plot:</label><br />
                                No plot available
                            </p>
                        }
                        else
                        {
                            <p id="plot">
                                <label id="subplot">Plot:</label><br />
                                @movie.Plot.Substring(0, 20)<span id="dots">...</span><span id="more">@movie.Plot.Substring(20)</span>
                            </p>
                            <p class="read-more">Read More &darr;</p>
                        }
                    </figure>
                </div>

            }
        </div>

</main>