
@model CMDbAPI.ViewModel.SummaryViewModel

<!-- Specificierar var allt inom denna del ska förhålla sig till resten av sidan. -->

    <!-- Första raden på detaljsidan innehållande fakta och en bild på filmen -->


    <h1>@Model.Title</h1>


    <div class="top-movie-container">
        <p>@Model.Plot</p>
        <img src="@Model.Poster" alt="Toppfilm" class="top-movie">
        <h2> Likes - Dislikes </h2>
        <p> @Model.NumberOfLikes - @Model.NumberOfDislikes </p>

        <h2>Ratings</h2>

        <div class="ratings-container">
            <div class="ratings-flexbox">
                @foreach (var ratings in Model.Ratings)
                {
                    <div>
                        <h3>@ratings.Source</h3>
                        <p>@ratings.Value</p>
                    </div>
                }
            </div>
        </div>
    </div>


    <h2>Ogilla filmen med länken nedan</h2>
    <a href="@Url.Action("DislikeMovie", "Movie", new { imdbID = Model.ImdbID })">Ogilla</a>




    <!--<section id="detailPage-column_facts">
        <h1>The Deer Hunter</h1>
        <p>{Genre}:</p>
        <p>{Längd}:</p>
        <p>{Producerad år}:</p>
        <p>{Inkomst}:</p>
    </section>
    <section id="detailPage-column_image">
        <img src="Images/The Deer Hunter.jpg" />
    </section>


    <div class="clear"></div>-->

    <!-- Andra raden på detaljsidan innehållande en summering och en sammanställning för hur populär filmen är -->
    <!--<section id="detailPage-column_facts">
        <h3>Summary:</h3>
        <p>Här kommer det stå en väldigt bra sammanfattning på engelska som vi har hämtat från "OMDb".</p>
    </section>

    <section id="detailPage-column_image">
        <img id="img-detail" src="Images/progressionBar.jpg" />
    </section>

    <div class="clear"></div>-->

    <!-- Tredje raden på detaljsidan innehållande alla skådelspelare och en bild på skådespelaren -->
    <!--Visa en lista med properties i olika celler https://www.youtube.com/watch?v=nHAMDUtiV6w-->
    <!--<h3>Här nedanför presenteras en tabell/lista med skådelspelare i filmen:</h3>
    <br>
    <br>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Actor</th>
                <th>NameInMovie</th>
            </tr>
        </thead>
    </table>


    <div class="clear"></div>

</div>-->
