
@model CMDbAPI.ViewModel.SummaryViewModel

@Html.HiddenFor(x=>x.NumberOfDislikes)
@Html.HiddenFor(x=>x.ImdbID)

    <article>
        <div class="wrapper">
            <div class="flexbox-column">
                <h2 class="center">@Model.Title</h2>
                <p><strong>Year:</strong><br />@Model.Year</p>
                <p><strong>Runtime:</strong><br />@Model.Runtime</p>
                <p><strong>Genre:</strong><br />@Model.Genre</p>
                <p><strong>Director:</strong><br />@Model.Director</p>
                <p><strong>Actors:</strong><br />@Model.Actors</p>



                <p id="plot">
                    <label id="subplot">Plot:</label></><br />
                    @Model.Plot.Substring(0, 60)<span id="dots">...</span><span id="more">@Model.Plot.Substring(60)</span>
                </p>
            <p class="read-more">Read More &darr;</p>
            </div>


            <div class="flexbox-column-movie">
                <img src="@Model.Poster" alt="Poster" class="top-movie-details">
                <div class="flexbox-row">
                    <p id="normal-label"><label class="bigger">Likes</label><br /> <span id="likes">@Model.NumberOfLikes</span></p>
                    <p id="normal-label"><label class="bigger">Dislikes</label><br /><span id="dislikes">@Model.NumberOfDislikes</span></p>
                </div>
                @foreach (var rating in @Model.Ratings)
                {
                    <p><strong>@rating.Source</strong><br />@rating.Value</p>
                }
            </div>

        </div>



        <div class="wrapper-like">
            <div>
                @*<h2 style="text-align:center">Like</h2>*@
                <button class="like-btn">Like</button>
                
            </div>
            <div>
                @*<h2 style="text-align:center">Dislike</h2>*@
                <button class="dislike-btn">Dislike</button>

            </div>
        </div>




    </article>




