
@model CMDbAPI.ViewModel.MovieDetailsViewModel

@Html.HiddenFor(x => x.ImdbID)


<article>
    <div class="wrapper">
        <div class="flexbox-column">
            <h2 class="center">@Model.Title</h2>
            <p><strong>Year:</strong><br />@Model.Year</p>
            <p><strong>Runtime:</strong><br />@Model.Runtime</p>
            <p><strong>Genre:</strong><br />@Model.Genre</p>
            <p><strong>Director:</strong><br />@Model.Director</p>
            <p><strong>Actors:</strong><br />@Model.Actors</p>

            <p id="plot">
                <label id="subplot">Plot:</label><br />
                @Model.Plot
            </p>

            <div class="ratings-container">
                <h2>Do you like the movie?<br /> Contribute below</h2>
                <div class="wrapper-like">
                    <button class="like-btn">Like</button>
                    <button class="dislike-btn">Dislike</button>
                </div>
            </div>
        </div>

        <div class="flexbox-column-movie">
            <img src="@Model.Poster" alt="Poster" class="top-movie-details">
            <div class="flexbox-row">
                <p id="normal-label"><label class="bigger">Likes</label><br /> <span id="likes">@Model.NumberOfLikes</span></p>
                <p id="normal-label"><label class="bigger">Dislikes</label><br /><span id="dislikes">@Model.NumberOfDislikes</span></p>
            </div>
            <br />
            <h3 class="bigger">Ratings</h3><br />

            @foreach (var rating in @Model.Ratings)
            {
                <p class="rating-source">@rating.Source</p>
                <div class="pie">
                    <span class="score-text">@rating.Value</span>
                </div>

            }
        </div>
    </div>
</article>
