@model IEnumerable<CMDbAPI.ViewModel.SummarySearchViewModel>



<div class="search-container">
        @foreach (var movie in Model)
        {
            <div class="search-movies-flexbox">

                <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                    <img id="searchedMovieImg" src="@movie.Poster" alt="">
                </a>
                <p>@movie.Title<br />@movie.Year<br />@movie.Type <br />@movie.Director </p>
            </div>
        }
</div>
