@model CMDbAPI.ViewModel.SearchViewModel

@Html.HiddenFor(x => x.FirstPage)
@Html.HiddenFor(x => x.TotalPages)

<main>

    @*<form asp-action="CinematicSelection" asp-controller="Search" class="form-selectType" method="get">
            <input hidden="hidden" id="searchString" name="searchString" value="@Model.SearchString" />
            <input hidden="hidden" id="currentPage" name="currentPage" value="@Model.PageIndex" />
            <label><b>Select Type:</b></label>
            @Html.DropDownListFor(x => Model.SelectedType, new SelectList(Model.Types, "Value", "Text"), new { @onchange = "@onChange(this.value)" })
            <button type="submit" id="form-submit">OK</button>
        </form>*@

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }



    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">By title</a>
                </th>
                
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["YearSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">By Year</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    </table>





    <div class="search-container">
        @if (Model.Search == null)
        {
            <p id="center">No results found for <b>"@ViewData["CurrentFilter"]"</b> </p>
        }
        else
        {
            <p id="center">
                Results for: <b>"@ViewData["CurrentFilter"]"</b><br />
                Total hits: <b>@Model.totalResults</b> Divided into: <b>@Model.TotalPages</b> pages
            </p>

            @foreach (var movie in Model.Search)
            {
                <div class="search-movies-flexbox">

                    <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                        @if (movie.Poster == "N/A")
                        {
                            <img src="~/img/NoPosterAvailable.png" alt="toppfilmer" class="top-movie">
                        }
                        else
                        {
                            <img src="@movie.Poster" alt="toppfilmer" id="searchedMovieImg">
                        }
                    </a>
                    <p>
                        <b>Title:</b> @movie.Title<br /><br />
                        <b>Year:</b> @movie.Year<br /><br />
                        <b>Genre:</b> @movie.Genre<br /><br />
                        <b>Director:</b> @movie.Director<br /><br />
                        <b>Type:</b> @movie.Type<br /><br />

                        @if (movie.Ratings.Count == 0)
                        {
                            <i>No rating available.</i>
                        }
                        else
                        {
                            <span><b>Ratings:</b></span><br />
                            @foreach (var rating in movie.Ratings)
                            {
                                <span>@rating.Source: <b>@rating.Value</b></span>

                                <br />
                            }
                        }
                    </p>
                </div>

            }

            <div class="navigation-container">
                <p>Page: <b>@Model.PageIndex</b> of <b>@Model.TotalPages</b> </p>

                <div class="navigation-flex">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>
            </div>

        }
    </div>
</main>

<script src="~/js/search.js"></script>


