@model CMDbAPI.ViewModel.SearchViewModel

    <main>
        <div class="search-container">


            @if (Model.Search == null)
            {
                <p id="center">No results found for <b>"@ViewBag.search"</b> </p>
            }
            else
            {
                <p id="center">Results for <b>"@ViewBag.search"</b> </p>
                @foreach (var movie in Model.Search)
                {
                    <div class="search-movies-flexbox">

                        <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                            @if (movie.Poster == "N/A")
                            {
                                <img src="~/img/NoPosterAvailable.png" alt="toppfilmer" class="top-movie">
                            }
                            else
                            {
                                <img src="@movie.Poster" alt="toppfilmer" id="searchedMovieImg">
                            }
                        </a>
                        <p>
                            <b>Title:</b> @movie.Title<br /><br />
                            <b>Year:</b> @movie.Year<br /><br />
                            <b>Genre:</b> @movie.Genre<br /><br />
                            <b>Director:</b> @movie.Director<br /><br />

                            @if (movie.Ratings.Count == 0)
                            {
                                <i>No rating available.</i>
                            }
                            else
                            {
                                <span><b>Ratings:</b></span><br />
                                @foreach (var rating in movie.Ratings)
                                {
                                    <span>@rating.Source: <b>@rating.Value</b></span>

                                    <br />
                                }
                            }
                        </p>
                    </div>
                }

            }
        </div>
    </main>