@model CMDbAPI.ViewModel.SearchViewModel



<div>
    <ul>
        @foreach (var movie in Model.Search)
        {
            <div class="searchedMovie-flexbox">

                <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                    <img id="searchedMovieImg" src="@movie.Poster" alt="">
                </a>
                <p>@movie.Title</p>
                <p>@movie.Year</p>
                <p>@movie.Type</p>
            </div>
        }
    </ul>
</div>
