@model CMDbAPI.ViewModel.SearchViewModel

@Html.HiddenFor(x => x.TotalPages)

<main>


    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="search-container">
        @if (Model.totalResults == 0)
        {
            <p id="center">No results found for <b>"@ViewData["CurrentFilter"]"</b> </p>
        }
        else
        {
            <span id="left">
                <label><b>Sort by:</b></label><br />
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YearSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Year</a>

            </span>
            <form asp-action="Index" class="form-selectType" method="get">
                <input hidden="hidden" name="currentFilter" value="@ViewData["CurrentFilter"]" />
                <input hidden="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                <input hidden="hidden" name="pageNumber" value="@ViewData["PageIndex"]" />
                <br />
                @Html.DropDownListFor(x => Model.SelectedType, new SelectList(Model.Types, "Value", "Text"))
                <button type="submit" id="form-submit">OK</button>
            </form>
            <div class="div-center">
                <span id="center">
                    Results for: <b>"@ViewData["CurrentFilter"]"</b><br />
                    Total hits: <b>@Model.totalResults</b> Divided into: <b>@Model.TotalPages</b> pages

                </span>
            </div>

            @foreach (var movie in Model.Search)
            {
                <div class="search-movies-flexbox">

                    <a href="@Url.Action("Index", "MovieDetails", new { imdbID = movie.ImdbID })">
                        @if (movie.Poster == "N/A")
                        {
                            <img src="~/img/NoPosterAvailable.png" alt="toppfilmer" class="top-movie">
                        }
                        else
                        {
                            <img src="@movie.Poster" alt="toppfilmer" id="searchedMovieImg">
                        }
                    </a>
                    <p>
                        <b>Title:</b> @movie.Title<br /><br />
                        <b>Year:</b> @movie.Year<br /><br />
                        <b>Genre:</b> @movie.Genre<br /><br />
                        <b>Director:</b> @movie.Director<br /><br />
                        <b>Type:</b> @movie.Type<br /><br />

                        @if (movie.Ratings.Count == 0)
                        {
                            <i>No rating available.</i>
                        }
                        else
                        {
                            <span><b>Ratings:</b></span><br />
                            @foreach (var rating in movie.Ratings)
                            {
                                <span>@rating.Source: <b>@rating.Value</b></span>

                                <br />
                            }
                        }
                    </p>
                </div>

            }

            <div class="navigation-container">

                <form asp-action="Index" class="form-selectType" method="get">
                    <input hidden="hidden" name="currentFilter" value="@ViewData["CurrentFilter"]" />
                    <input hidden="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                    <p>
                        Page:
                        @Html.DropDownList("pageNumber", new SelectList(Model.PageList, "Value", "Text"), new { @onchange = "@onChange(this.value)" })
                        of <b>@Model.TotalPages</b>
                        <button type="submit" id="form-submit">GO</button>
                    </p>
                </form>

                <div class="navigation-flex">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        }
    </div>
</main>

<script src="~/js/search.js"></script>


